/* Flex utilities */
.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.items-start {
    align-items: start;
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.grid {
    display: grid;
}

/* Sizing */
.full-width {
    width: 100%;
    max-width: 100%;
}

.screen-height {
    min-height: 100dvh;
}

.section-padding {
    padding: var(--section-padding);
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.full-container {
    width: 100%;
    max-width: 100%;
}

.image-full {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h1 {
    font-size: var(--h1-font);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-line-height-heading);
    color: var(--color-heading);
}

.h2 {
    font-size: var(--h2-font);
    font-weight: var(--font-weight-semibold);
    line-height: var(--font-line-height-heading);
    color: var(--color-heading);
}

/* Position utilities */
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* Page utilities */
.page-width {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

/* Decoration Utilities */
.decoration-none * {
    text-decoration: none;
}

.list-none li {
    list-style: none;
}

/* Buttons */
.btn-primary {
    padding: 16px 32px;
    border-radius: var(--rounded);
    background: var(--color-gradient-btn);
    color: white;
    font-size: var(--font-size-body-lg);
    font-weight: var(--font-weight-medium);
    line-height: var(--font-line-height-fit);
    text-decoration: none;
    box-shadow: var(--btn-shadow);
    transition: var(--transition-300);
}

.btn-small {
    padding: 12px 28px;
    border-radius: var(--rounded);
    background: var(--color-gradient-btn);
    color: white;
    font-size: var(--font-size-body-body);
    font-weight: var(--font-weight-medium);
    line-height: var(--font-line-height-fit);
    text-decoration: none;
    box-shadow: var(--btn-shadow);
    transition: var(--transition-300);
}

.btn-primary:hover,
.btn-small:hover {
    transform: translateY(-2px);
}

.btn-transparent {
    background: none;
    border: none;
    padding: 0;
}

/* Hover */
.cursor-pointer {
    cursor: pointer;
}


@media screen and (min-width:1025px) {
    .full-width-lg {
        width: 100%;
        max-width: 100%;
    }

    .screen-height-lg {
        min-height: 100dvh;
    }
}